@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



body{
    background-color: aqua;
    font-family: Arial;
    overflow: auto;
    color: white;
}